@font-face {
  font-family: 'Avenir Next';
  src: url("../fonts/Metropolis-Regular.otf");
}

@font-face {
  font-family: 'Avenir Next';
  src: url("../fonts/Metropolis-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: 'Avenir Next';
  src: url("../fonts/Metropolis-SemiBold.otf");
  font-weight: 500;
}

html, main, body, div {
  font-family: 'Avenir Next';
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-align: center;
}

ul, h3, h2, h1 {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 320px) {
  li {
    font-size: 13px;
    line-height: 18px;
  }
}

@media screen and (min-width: 768px) {
  li {
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (min-width: 1200px) {
  li {
    font-size: 14px;
    line-height: 20px;
  }
}

a {
  text-decoration: none;
}

.subheader {
  font-weight: 500;
}

@media screen and (min-width: 320px) {
  p {
    font-size: 13px;
  }
}

@media screen and (min-width: 768px) {
  p {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  p {
    font-size: 14px;
  }
}

bold {
  font-weight: 500;
}

@font-face {
  font-family: 'Avenir Next';
  src: url("../fonts/Metropolis-Regular.otf");
}

@font-face {
  font-family: 'Avenir Next';
  src: url("../fonts/Metropolis-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: 'Avenir Next';
  src: url("../fonts/Metropolis-SemiBold.otf");
  font-weight: 500;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 320px) {
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
  }
}

@media screen and (min-width: 768px) {
  .header__logo {
    padding: 1.875rem 1.5rem 1.875rem 1.5rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    padding: 1.875rem 1.5rem 1.875rem 8.875rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.navigation {
  height: 5rem;
  width: 100%;
  background-color: #323232;
  color: #ffffff;
}

@media screen and (min-width: 320px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navigation__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 320px) {
  .navigation__bar {
    padding-top: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .navigation__bar {
    padding: 0%;
  }
}

@media screen and (min-width: 1200px) {
  .navigation__bar {
    padding: 0%;
  }
}

.navigation__link1 {
  font-weight: 500;
  color: #ffffff;
  border-bottom: 0.3125rem solid white;
}

@media screen and (min-width: 320px) {
  .navigation__link1 {
    width: 10.125rem;
    padding-bottom: 1.25rem;
  }
}

@media screen and (min-width: 768px) {
  .navigation__link1 {
    padding: 1.875rem 1.5rem 1.5rem 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .navigation__link1 {
    padding: 1.875rem 1.5rem 1.5rem 1.5rem;
  }
}

.navigation__link2 {
  font-weight: 500;
  color: #ffffff;
}

@media screen and (min-width: 320px) {
  .navigation__link2 {
    width: 10.125rem;
    padding-bottom: 1.25rem;
  }
}

@media screen and (min-width: 768px) {
  .navigation__link2 {
    padding: 1.875rem 1.5rem 0 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .navigation__link2 {
    padding: 1.875rem 1.5rem 0 1.5rem;
  }
}

.hero__image {
  text-align: left;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../Assets/Images/hero-image.jpg");
  background-size: cover;
  background-color: #323232;
  opacity: 50%;
  background-position: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 42vh;
}

@media screen and (min-width: 768px) {
  .hero__image {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 25rem;
  }
}

@media screen and (min-width: 1200px) {
  .hero__image {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 41.875rem;
  }
}

.hero__header, .hero__header-shows {
  color: #ffffff;
  text-align: start;
  font-weight: 700;
  font-size: 1.5rem;
  padding-left: 1rem;
  width: 65%;
}

@media screen and (min-width: 768px) {
  .hero__header, .hero__header-shows {
    font-size: 3.5rem;
    padding-left: 1.5rem;
    width: 75%;
  }
}

@media screen and (min-width: 1200px) {
  .hero__header, .hero__header-shows {
    padding: 0 1em 0 7rem;
    width: 45vw;
  }
}

.hero__header-shows {
  font-size: 1em;
}

@media screen and (min-width: 768px) {
  .hero__header-shows {
    font-size: 1em;
  }
}

@media screen and (min-width: 1200px) {
  .hero__header-shows {
    font-size: 2em;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.iframe {
  height: 15vh;
  width: 80vw;
}

@media screen and (min-width: 768px) {
  .iframe {
    width: 60vw;
  }
}

@media screen and (min-width: 1200px) {
  .iframe {
    height: 25vh;
    width: 30vw;
  }
}

.iframe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: left;
  margin: 1.5em 1em;
}

@media screen and (min-width: 768px) {
  .iframe__container {
    margin: 1.5em;
  }
}

@media screen and (min-width: 1200px) {
  .iframe__container {
    margin: 0 7em 0 0;
    height: 30vh;
  }
}

.musicians {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 320px) {
  .musicians__image {
    padding-bottom: 1.5rem;
    width: 18rem;
    height: 9.375rem;
  }
}

@media screen and (min-width: 768px) {
  .musicians__image {
    padding-bottom: 3rem;
    width: 45rem;
    height: 25rem;
  }
}

@media screen and (min-width: 1200px) {
  .musicians__image {
    padding-bottom: 3rem;
    width: 50rem;
    height: 31.25rem;
  }
}

.musicians__image-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media screen and (min-width: 320px) {
  .musicians__image-title {
    font-size: 1.5rem;
    padding: 2rem 0 1.5rem 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .musicians__image-title {
    font-size: 2.25rem;
    padding: 3rem 0 3rem 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .musicians__image-title {
    font-size: 2.25rem;
    padding: 3rem 0 3rem 8.875rem;
  }
}

.musicians__quote {
  text-align: left;
}

.musicians__quote-container {
  display: block;
}

@media screen and (min-width: 320px) {
  .musicians__quote {
    font-size: 0.875rem;
    padding-bottom: 2rem;
    width: 18rem;
  }
}

@media screen and (min-width: 768px) {
  .musicians__quote {
    font-size: 1.5rem;
    padding-bottom: 2.5rem;
    width: 45rem;
  }
}

@media screen and (min-width: 1200px) {
  .musicians__quote {
    font-size: 1.5rem;
    padding-bottom: 2.5rem;
    width: 50rem;
  }
}

.musicians__quote-writer {
  text-align: left;
}

@media screen and (min-width: 320px) {
  .musicians__quote-writer {
    padding: 0 0 2.5rem 0;
    font-size: 0.8125rem;
  }
}

@media screen and (min-width: 768px) {
  .musicians__quote-writer {
    padding: 0 0 3.5rem 0;
    font-size: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .musicians__quote-writer {
    font-size: 1rem;
    padding: 0 0 3.5rem 0;
  }
}

.musicians__names {
  text-align: left;
}

@media screen and (min-width: 320px) {
  .musicians__names {
    padding: 0 1rem 1.5rem 0;
  }
}

@media screen and (min-width: 768px) {
  .musicians__names {
    padding: 0 1.5rem 2rem 0;
  }
}

@media screen and (min-width: 1200px) {
  .musicians__names {
    padding: 0 0 2rem 0;
  }
}

.musicians__biography {
  text-align: left;
}

@media screen and (min-width: 320px) {
  .musicians__biography {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .musicians__biography {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .musicians__biography {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.musicians__biography-container {
  display: block;
  text-align: center;
}

@media screen and (min-width: 320px) {
  .musicians__biography-container {
    width: 18rem;
  }
}

@media screen and (min-width: 768px) {
  .musicians__biography-container {
    width: 45rem;
  }
}

@media screen and (min-width: 1200px) {
  .musicians__biography-container {
    width: 50rem;
  }
}

.musicians__biography-para1 {
  text-align: left;
}

@media screen and (min-width: 320px) {
  .musicians__biography-para1 {
    padding-bottom: 1.5rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media screen and (min-width: 768px) {
  .musicians__biography-para1 {
    padding: 0 0.75rem 3rem 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media screen and (min-width: 1200px) {
  .musicians__biography-para1 {
    padding: 0 1.25rem 3rem 0;
    width: 26.25rem;
  }
}

.musicians__biography-para2 {
  text-align: left;
}

@media screen and (min-width: 320px) {
  .musicians__biography-para2 {
    padding-bottom: 1.5rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media screen and (min-width: 768px) {
  .musicians__biography-para2 {
    padding: 0 0 3rem 0.75rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media screen and (min-width: 1200px) {
  .musicians__biography-para2 {
    padding: 0 0 3rem 1.25rem;
    width: 26.25rem;
  }
}

.gallery {
  background-color: #fafafa;
}

.gallery__title, .comment__section-title {
  text-align: left;
}

@media screen and (min-width: 320px) {
  .gallery__title, .comment__section-title {
    font-size: 1.5rem;
    padding: 2rem 0 1.5rem 1rem;
  }
}

@media screen and (min-width: 768px) {
  .gallery__title, .comment__section-title {
    font-size: 2.25rem;
    padding: 3rem 0 3rem 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__title, .comment__section-title {
    font-size: 2.25rem;
    padding: 3rem 0 3rem 8.875rem;
  }
}

.gallery__image {
  display: block;
}

@media screen and (min-width: 320px) {
  .gallery__image {
    padding: 0.5rem;
    width: 90vw;
    height: 30vh;
  }
}

@media screen and (min-width: 768px) {
  .gallery__image {
    height: 20vh;
    width: 27vw;
    padding: 0.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__image {
    padding: 1em;
    width: 25vw;
    height: 25vh;
  }
}

.gallery__image-container {
  margin: 0;
}

@media screen and (min-width: 320px) {
  .gallery__image-container {
    padding: 0.5em;
    margin: 0.5em;
  }
}

@media screen and (min-width: 768px) {
  .gallery__image-container {
    padding: 1em;
    margin: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__image-container {
    margin: 2em;
    padding: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

#comment__button {
  width: 75vw;
  height: 5vh;
  background-color: #323232;
  color: white;
  border-radius: 5%;
  border: 2px solid #323232;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media screen and (min-width: 768px) {
  #comment__button {
    width: 25vw;
    height: 3em;
  }
}

@media screen and (min-width: 1200px) {
  #comment__button {
    width: 15vw;
  }
}

.comment {
  width: 80vw;
  padding: 0 1.5rem;
}

@media screen and (min-width: 1200px) {
  .comment {
    width: 50vw;
  }
}

.comment__form {
  width: inherit;
}

.comment__input, .comment__input-name, .comment__input-text {
  font-family: 'Avenir Next';
  display: block;
  border: 2px solid silver;
  border-radius: 2%;
  width: 70vw;
  background-color: #fafafa;
}

@media screen and (min-width: 1200px) {
  .comment__input, .comment__input-name, .comment__input-text {
    width: 40vw;
  }
}

.comment__input:focus, .comment__input-name:focus, .comment__input-text:focus {
  border: 2px solid black;
}

.comment__input-name {
  height: 3em;
  border-radius: 4%;
}

.comment__input-text {
  height: 6em;
}

.comment__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 320px) {
  .comment__section {
    width: 80vw;
  }
}

@media screen and (min-width: 768px) {
  .comment__section {
    width: 80vw;
  }
}

@media screen and (min-width: 1200px) {
  .comment__section {
    width: auto;
    padding: 0 20vw;
  }
}

.comment__section-newcomment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e1e1e1;
  margin: 1em;
  width: 90vw;
}

@media screen and (min-width: 1200px) {
  .comment__section-newcomment {
    width: 50vw;
  }
}

.comment__container {
  margin: 1em;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #e1e1e1;
}

@media screen and (min-width: 1200px) {
  .comment__container {
    width: 50vw;
  }
}

.comment__image {
  padding: 1em 0;
}

.comment__image-icon {
  display: inline-block;
  background-color: silver;
  -o-object-fit: inherit;
     object-fit: inherit;
  height: 3em;
  width: 3.5em;
  border-radius: 50%;
  -o-object-position: right;
     object-position: right;
}

.comment__header {
  width: 65vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5em 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  word-wrap: break-word;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .comment__header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 40vw;
  }
}

.comment__header-writer {
  font-weight: 500;
  padding: 0 1em 0 0;
  margin: 0;
  text-align: left;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.comment__header-timestamp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: silver;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  padding: 0;
}

.comment__text {
  text-align: left;
  width: 65vw;
  word-wrap: break-word;
}

@media screen and (min-width: 1200px) {
  .comment__text {
    width: 40vw;
  }
}

.comment-writer, .comment-text {
  font-family: 'Avenir Next';
  color: silver;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: .5em;
}

#com__container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (min-width: 768px) {
  #com__container {
    width: 50vw;
  }
}

.form__section, .form__section-button {
  padding: 0.5em;
}

@media screen and (min-width: 1200px) {
  .form__section, .form__section-button {
    padding: 0.5em 1.5em;
  }
}

.form__section-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer {
  background-color: #323232;
  color: #ffffff;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 320px) {
  .footer__container {
    padding: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    padding: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    padding: 3rem 8.125rem 3.5rem 8.875rem;
  }
}

@media screen and (min-width: 320px) {
  .footer__contacts-section {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .footer__contacts-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .footer__contacts-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__title, .shows__title {
  color: #ffffff;
  text-align: left;
}

@media screen and (min-width: 320px) {
  .footer__title, .shows__title {
    font-size: 1.5rem;
    padding: 1rem 0 1rem 0;
  }
}

@media screen and (min-width: 768px) {
  .footer__title, .shows__title {
    font-size: 2.25rem;
    padding: 0.75rem 2.5rem 0.75rem 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__title, .shows__title {
    font-size: 2.25rem;
    padding: 1.5rem 5.25rem 1.875rem 0;
  }
}

.footer__contacts-socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__contacts-socialmedia-icon {
  padding-right: 1rem;
}

@media screen and (min-width: 320px) {
  .footer__logo {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1.25rem 0 0.75rem 0.75rem;
    height: 1.5rem;
    width: 7.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1.5rem;
    padding: 2rem 1rem 0 0;
    width: 7.5rem;
  }
}

@media screen and (min-width: 320px) {
  .agents {
    margin: 1rem;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .agents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .agents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding-left: 8.875rem;
  }
}

.agents__contact {
  padding-right: 1em;
  text-align: left;
  color: #ffffff;
}

.agents__contact-name {
  text-align: left;
}

@media screen and (min-width: 320px) {
  .agents__contact-name {
    padding-top: 0.5rem;
    font-size: 0.8125rem;
  }
}

@media screen and (min-width: 768px) {
  .agents__contact-name {
    padding-top: 0;
    font-size: 1rem;
  }
}

.copyright {
  text-align: left;
  color: #ffffff;
  margin: 0;
}

@media screen and (min-width: 320px) {
  .copyright {
    width: 70%;
    padding: 1rem 1rem 1.5rem 1rem;
  }
}

@media screen and (min-width: 768px) {
  .copyright {
    padding: 1rem 1.5rem 2.5rem 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .copyright {
    padding: 1rem 0 2.5rem 8.875rem;
  }
}

@media screen and (min-width: 1200px) {
  .shows__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 1em 7em;
  }
}

.shows__title {
  color: black;
  padding: 0.5em;
}

.shows__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em;
}

.shows__table-header {
  display: none;
}

@media screen and (min-width: 768px) {
  .shows__table-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: silver;
    text-align: left;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .shows__table-header {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (min-width: 768px) {
  .shows__table-header_element {
    padding-right: 1.5em;
  }
}

@media screen and (min-width: 1200px) {
  .shows__table-header_element {
    padding-right: 7em;
  }
}

.shows__table-title {
  color: silver;
  text-align: left;
  padding: 1em 0;
}

@media screen and (min-width: 768px) {
  .shows__table-title {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .shows__table-title {
    display: none;
  }
}

.shows__table-element, .shows__table-dates, .shows__table-venue, .shows__table-location, .shows__table-button {
  padding: 0;
  text-align: left;
  color: black;
  width: inherit;
  height: auto;
}

@media screen and (min-width: 768px) {
  .shows__table-element, .shows__table-dates, .shows__table-venue, .shows__table-location, .shows__table-button {
    padding: 1.5em 0;
    height: 8vh;
    width: 26vw;
    border-bottom: 2px solid silver;
  }
}

@media screen and (min-width: 1200px) {
  .shows__table-element, .shows__table-dates, .shows__table-venue, .shows__table-location, .shows__table-button {
    width: 15vw;
  }
}

.shows__table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .shows__table-row {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.shows__table-dates, .shows__table-venue, .shows__table-location, .shows__table-button {
  width: 70vw;
}

@media screen and (min-width: 768px) {
  .shows__table-dates, .shows__table-venue, .shows__table-location, .shows__table-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.shows__table-button {
  padding: 1.5em 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 2px solid silver;
}

@media screen and (min-width: 768px) {
  .shows__table-button {
    padding-left: 1.5em;
  }
}

.shows__button-buyTicket {
  background-color: black;
  color: white;
  border-radius: 3%;
  width: 90vw;
  height: 8vh;
}

@media screen and (min-width: 768px) {
  .shows__button-buyTicket {
    width: 15vw;
  }
}

#shows__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  #shows__table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#shows__button-header {
  color: white;
}
/*# sourceMappingURL=styles.css.map */