$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;
$mobile-breakpoint: 320px;

// Color palette
$base-color: #323232;
$instock-blue: #004892;
$brainflix-blue: #0095FF;
$white: #ffffff;
$silver: #afafaf;
$instock-blue-dark: #002f5f;
$brainflix-blue-dark: #0065ad;
$gallery-background : #e1e1e1;
$alabaster: #fafafa;
