@import './partials/defaults';
@import './partials/fonts';
@import './partials/mixins';
@import './partials/variables';

// positioning logo in navigation container
.header__logo{
    display: flex;
    @include mobile{
        display: flex;
        align-self: center;
    }
    @include tablet{
        padding: 1.875rem 1.5rem 1.875rem 1.5rem;
        justify-content: flex-start;
    }
    @include desktop{
        padding-left: 8.875rem;
    }
}
// applying flex display for navigation container
.navigation{
    height: 5em;
    width: 100%;
    background-color: $base-color;
    color: $white;
    padding-top:1rem;
    display: flex;
    @include mobile{
        flex-direction: column;
    }
    @include tablet{
        flex-direction: row;
    }
    // applying flex display for navigation links container
    &__bar{
        display: flex;
        justify-content: space-between;
        @include mobile{
            padding-top: 1rem;
        }
        @include tablet{
            padding: 0%;
        }
    }
    // styling for navigation links
    &__link1{
        font-weight: 500;
        color: $white;
        border-bottom: 0.3125rem solid white;
        
        @include mobile{
            width: 50vw;
            padding-bottom: 1.25rem;  
        }
        @include tablet{
            width: 20vw;
            padding: 1.875rem 1.5rem 1.5rem 1.5rem;
        }
    }
    &__link2{
        font-weight: 500;
        color: $white;
        @include mobile{
            width: 50vw;
            padding-bottom: 1.25rem;
        }
        @include tablet{
            width: 20vw;
            padding: 1.875rem 1.5rem 0 1.5rem;
        }
    }
}



// background image for hero container
.hero{
    &__image{
        text-align: left;
        width: 100%;
        display: flex;
        background-image: url("../Assets/Images/hero-image.jpg");
        background-size: cover;
        background-color: $base-color;
        opacity: 50%;
        background-position: center;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        height: 42vh;
        @include tablet{
            height: 70vh;
        }
        @include desktop{
            align-items: center;
            justify-content: flex-start;
            flex-direction: row;
        }
    }
   
    // hero text positioning style
    &__header{
        color: $white;
        text-align: start;
        font-weight: 700;
        font-size: 1.5rem;
        padding-left: 1rem;
        width: 65%;
        @include tablet{
            font-size: 3.5rem;
            padding-left: 1.5rem;
            width: 75%;
        }
        @include desktop{
            padding: 0 1em 0 7rem;
            width: 45vw;
        }  
        &-shows{
            @extend .hero__header;
            font-size: 1em;
            @include desktop{
                font-size: 2em;
                width: fit-content;
            }
        } 
    }
}
// iframe styling on shows page
.iframe{
    height: 15vh;
    width: 80vw;
    @include tablet{
        width: 60vw;
    }
    @include desktop{
        height: 25vh;
        width: 30vw;
    }
    //iframe container
    &__container{
        display: flex;
        align-items: flex-end;
        text-align: left;
        margin: 1.5em 1em;
        @include tablet{
            margin: 1.5em;
        }
        @include desktop{
            margin: 0 7em 0 0;
            height: 30vh;
        }
    }
}

.musicians{
    // musicians image and title styling in about section
    display: flex;
    flex-direction: column;
    align-items: center;
//musicians image styling on main page
    &__image{
        @include mobile{
            padding-bottom: 1.5rem;
            width: 85vw;
            height: 30vh;
        }
        @include tablet{
            padding-bottom: 3rem;
            height: 45vh;
        }
        @include desktop{
            width: 65vw;
            height: 55vh;
        }
        // musician image title "About the Musicians"
        &-title{
            display: flex;
            align-self: flex-start;
            @include mobile{
                font-size: 1.5rem;
                padding: 2rem 0 1.5rem 1.5rem;
            }
            @include tablet{
                font-size: 2.25rem;
                padding: 3rem 0 3rem 1.5rem;
            }
            @include desktop{
                padding-left: 8.875rem;
            }
        }
    }
    //musician's quote and name
    &__quote{
        text-align: left;
        &-container{
            display: block;
        }
        @include mobile{
            font-size: 0.875rem;
            padding-bottom: 2rem;
            width: 85vw;
        }
        @include tablet{
            font-size: 1.5rem;
            padding-bottom: 2.5rem;
        }
        @include desktop{
            width: 65vw;
        }
        //band quote musician name
        &-writer{
            text-align: left;
            @include mobile{
                padding: 0 0 2.5rem 0;
                font-size: 0.8125rem;
            }
            @include tablet{
                padding-bottom: 3.5rem;
                font-size: 1rem;
            }
        }
    }
    //musician names and title of biography
    &__names{
        text-align: left;
        @include mobile{
            padding: 0 1rem 1.5rem 0;
        }
        @include tablet{
            padding: 0 1.5rem 2rem 0;
        }
        @include desktop{
            padding-right: 0;
        }
    }
    //musician biograohy paragraph styling 
    &__biography{
        text-align: left;
        @include mobile{
            display: block;
        }
        @include tablet{
            display: flex;
            justify-content: space-between;
        }
        @include desktop{
            display: flex;
            justify-content: space-between;
        }
        //biography para container
        &-container{
            display: block;
            text-align: center;
            width: 85vw;
            @include desktop{
                width: 65vw;
            }
        }
        //biography paragraph left
        &-para1{
            text-align: left;
            @include mobile{
                padding-bottom: 1.5rem;
                width: fit-content;
            }
            @include tablet{
                padding:0 0.75rem 3rem 0;
            }
            @include desktop{
                padding:0 1.25rem 3rem 0;
                width: 30vw;
            }
        }
        //biography paragraph right
        &-para2{
            text-align: left;
            @include mobile{
                padding-bottom: 1.5rem;
                width: fit-content;
            }
            @include tablet{
                padding: 0 0 3rem 0.75rem;
            }
            @include desktop{
                padding-left: 1.25rem;
                width: 30vw;
            }
           
        }
    }
}
// photo gallery styling 
.gallery{
    background-color: $alabaster;
    &__title{
        text-align: left;
        font-size: 1.5rem;
        padding: 2rem 0 1.5rem 1rem;
        @include tablet{
            font-size: 2.25rem;
            padding: 3rem 0 3rem 1.5rem;
        }
        @include desktop{
            padding-left: 2em;
        }
    }
    // individual image container styling
    &__image{
        display: block;
        @include mobile{
            padding: 0.5rem;
            width: 90vw;
            height: 30vh;
        }
        @include tablet{
            height: 20vh;
            width: 27vw;
            padding: 0.5rem;
        }
        @include desktop{
            padding: 1em;
            width: 25vw;
            height: 25vh;
        }
        //image container styling
        &-container{
            padding: 0.5em;
            margin: 0.5em;
            @include tablet{
                padding: 1em;
                margin: 1em;
                display: flex;
                flex-wrap: wrap;
            }
            @include desktop{
                margin:2em;
                padding: 2em;
                justify-content: center;
            }
        }
    }
}

//comment section to join conversation

//new comment button styling
#comment__button{
    width: 75vw;
    height: 5vh;
    background-color: $base-color;
    color: white;
    border-radius: 5%;
    border: 2px solid $base-color;
    box-shadow: none;
    @include tablet{
        width:  25vw;
        height: 3em;   
    }
    @include desktop{
        width: 15vw;
    }
}
//individual form section styling
.form__section{
    padding: 0.5em;
    @include desktop{
        padding: 0.5em 1.5em;
    }
    &-button{
        @extend .form__section;
        display: flex;
        justify-content: flex-end;
    }
}

//comment container for displaying comment, author and date
.comment{
    width: 80vw;
    padding: 0 1.5rem;
    @include desktop{
        width: 50vw;
    }
    //new comment input form class
    &__form{
        width: inherit;
    }
    &__input{
        font-family: 'Avenir Next';
        display: block;
        border: 2px solid silver;
        border-radius: 2%;
        width: 70vw;
        background-color: $alabaster;
        @include desktop{
            width: 40vw;
        }
        //comment input box styling for input
        &:focus{
            border: 2px solid black;
        }
        //new comment author name textbox
        &-name{
            @extend .comment__input;
            height: 3em;
            border-radius: 4%;
        }
        //new comment textbox
        &-text{
            @extend .comment__input;
            height: 6em;
        }
    }
    //comment author input label
    &-writer{
        font-family: 'Avenir Next';
        color: silver;
        font-weight: bold;
        display: flex;
        justify-content: left;
        padding: .5em;
    }
    //comment text input label
    &-text{
        @extend .comment-writer;
    }
//main container of comment section
    &__section{
            display: flex;
            flex-direction: column;
            @include mobile{
                width: 80vw;
            }
            @include desktop{
                width: auto;
                padding: 0 20vw;
            }
        //comment section title styling "Join the Conversation"
        &-title{
            @extend .gallery__title;
        }

        //new comment section container
        &-newcomment{
            display: flex;
            border-bottom: 1px solid $gallery-background;
            margin: 1em;
            width: 90vw;
            @include desktop{
                width: 50vw;
            }
        }
    }
    //individual container for comments to be displayed
    &__container{
        margin: 1em;
        width: 90vw;
        display: flex;
        justify-content: space-between;
        @include desktop{
            width: 50vw;
        }
        //border below each comment
        border-bottom: 1px solid $gallery-background;
    }

    //comment icon container
    &__image{
        padding: 1em 0;
        //comment icon styling
        &-icon{
            display: inline-block;
            background-color: silver;
            object-fit: inherit;
            height: 3em;
            width: 3.5em;
            border-radius: 50%;
            object-position: right;
        }
    }
    //comment author and date container
    &__header{
        width: 65vw;
        height: fit-content;
        display: flex;
        padding: 1.5em 0;
        justify-content: space-between;
        word-wrap: break-word;
        text-align: left;
        @include tablet{
            justify-content: flex-start;
            width: 40vw;
        }
        //comment author name container
        &-writer{
            font-weight: 500;
            padding: 0 1em 0 0;
            margin: 0;
            text-align: left;
            height: fit-content;
        }
        //comment date container
        &-timestamp{
            display: flex;
            align-items: flex-end;
            color: silver;
            height: fit-content;
            margin: 0;
            padding: 0;
        }
    }
    //comment text container
    &__text{
        text-align: left;
        width: 65vw;
        word-wrap: break-word;
        @include desktop{
            width: 40vw;
        }
    }
}
//main container for displaying default and new comments added
#com__container{
    width: fit-content;
    @include tablet{
        width: 50vw;
    }
    
}


// footer section for contacts
.footer{
    background-color: $base-color;
    color: $white;
    // main footer container
    &__container{
        display: flex;
        justify-content: space-between;
        @include mobile{
            padding: 1rem;
        }
        @include tablet{
            padding: 1.5rem;
        }
        @include desktop{
            padding: 3rem 8.125rem 3.5rem 8.875rem;
        }        
    }
    // footer section for contacts
    &__contacts-section{
        @include mobile{
            display: block;
        }
        @include tablet{
            display: flex;
            justify-content: space-between;
        }
        @include desktop{
            display: flex;
            justify-content: space-between;
        }
    }
    //footer title styling "Get In Touch"
    &__title{
        color: $white;
        text-align: left;
        @include mobile{
            font-size: 1.5rem;
            padding: 1rem 0 1rem 0;
        }
        @include tablet{
            font-size: 2.25rem;
            padding: 0.75rem 2.5rem 0.75rem 0;
        }
        @include desktop{
            font-size: 2.25rem;
            padding: 1.5rem 5.25rem 1.875rem 0;
        }
    }
    //  styling
    &__contacts-socialmedia{
        display: flex;
        justify-content: space-between;

        // social media icons
        &-icon{
            padding-right: 1rem;
        }
    }
    
    // bandsite logo in footer 
    &__logo{
        @include mobile{
            display: none;
        }
        @include tablet{
            display: flex;
            padding: 1.25rem 0 0.75rem 0.75rem;
            height: 1.5rem;
            width: 7.5rem;
        }
        @include desktop{
            display: flex;
            height: 1.5rem;
            padding: 2rem 1rem 0 0;
            width: 7.5rem;
        }
    }
}
// main agents container
.agents{
    margin: 1rem;
    padding: 0;
    
    @include tablet{
        display: flex;
        margin: 1.5rem;
    }
    @include desktop{
        margin: 0;
        padding-left: 8.875rem;
    }
    //individual agent contact card
    &__contact{
        padding-right: 1em;
        text-align: left;
        color: $white;
        //agent contact name
        &-name{
            text-align: left;
            @include mobile{
                padding-top: 0.5rem;
                font-size: 0.8125rem;
            }
            @include tablet{
                padding-top: 0;
                font-size: 1rem;
            }
        }
    }
}
// copyright line at footer end
.copyright{
    text-align: left;
    color: $white;
    margin: 0;
    
    @include mobile{
        width: 70%;
        padding: 1rem 1rem 1.5rem 1rem;
    }
    @include tablet{
        padding: 1rem 1.5rem 2.5rem 1.5rem;
    }
    @include desktop{
        padding:1rem 0 2.5rem 8.875rem;
    }    
}


.shows{
    &__container{
        @include desktop{
            display: flex;
            justify-content: space-between;
            margin:1em 7em;
        }
    }
    &__title{
        @extend .footer__title;
        color: black;
        padding: 0.5em;
    }
    &__table{
        display: flex;
        flex-direction: column;
        margin: 1em;

        &-header{
            display: none;
            @include tablet{
                display: flex;
                color: silver;
                text-align: left;
                justify-content: space-between;
                
            }
            @include desktop{
                justify-content: space-evenly;
            }
            &_element{
                @include tablet{
                    padding-right: 1.5em;
                }
                @include desktop{
                    padding-right: 7em;   
                }
            }
        }
        &-title{
            color: silver;
            text-align: left;
            padding: 1em 0;
            @include tablet{
                display: none;
            }
            @include desktop{
                display: none;
            }
        }
        &-element{
            padding: 0;
            text-align: left;
            color: black;
            width: inherit;
            height: auto;
            @include tablet{
                padding: 1.5em 0;
                height: 8vh;
                width: 26vw;
                border-bottom: 2px solid silver;
            }
            @include desktop{
                width: 15vw;
            }
        }
        &-row{
            display: flex;
            flex-direction: column;
            @include tablet{
                justify-content: space-evenly;
                flex-direction: row;
            }
        }
        &-dates{
            @extend .shows__table-element;
            width: 70vw;
            @include tablet{
                display: flex;
                flex-direction: row;
            }
        }
        &-venue{
            @extend .shows__table-dates;
        }
        &-location{
            @extend .shows__table-dates;
        }
        &-button{
            @extend .shows__table-dates;
            padding: 1.5em 0;
            width: fit-content;
            border-bottom: 2px solid silver;
            @include tablet{
                padding-left: 1.5em;
            }
        }
    }
    &__button{
        &-buyTicket{
            background-color: black;
            color: white;
            border-radius: 3%;
            width: 90vw;
            height: 8vh;
            @include tablet{
                width: 15vw;
            }
        }
    }
}

#shows{
    &__table{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        @include tablet{
            display: flex;
            flex-direction: column;
        }
    }
    &__button-header{
        color: white;
    }
}
