@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'defaults';

// positioning logo in navigation container
.header__logo{
    display: flex;
    @include mobile{
        display: flex;
        align-self: center;
    }
    @include tablet{
        padding: 1.875rem 1.5rem 1.875rem 1.5rem;
        justify-content: flex-start;
    }
    @include desktop{
        padding: 1.875rem 1.5rem 1.875rem 8.875rem;
        justify-content: flex-start;
    }
}
// applying flex display for navigation container
.navigation{
    height: 5rem;
    width: 100%;
    background-color: $base-color;
    color: $white;
    @include mobile{
        display: flex;
        padding-top:1rem;
        flex-direction: column;
    }
    @include tablet{
        display: flex;
        flex-direction: row;
    }
    @include desktop{
        flex-direction: row;
        display: flex;
    }
    // applying flex display for navigation links container
    &__bar{
        display: flex;
        justify-content: space-between;
        @include mobile{
            padding-top: 1rem;
        }
        @include tablet{
            padding: 0%;
        }
        @include desktop{
            padding: 0%;
        }
    }
    // styling for navigation links
    &__link1{
        font-weight: 500;
        color: $white;
        border-bottom: 0.3125rem solid white;
        @include mobile{
            width: 10.125rem;
            padding-bottom: 1.25rem;  
        }
        @include tablet{
            padding: 1.875rem 1.5rem 1.5rem 1.5rem;
        }
        @include desktop{
            padding: 1.875rem 1.5rem 1.5rem 1.5rem;
        }
    }
    &__link2{
        font-weight: 500;
        color: $white;
        @include mobile{
            width: 10.125rem;
            padding-bottom: 1.25rem;
        }
        @include tablet{
            padding: 1.875rem 1.5rem 0 1.5rem;
        }
        @include desktop{
            padding: 1.875rem 1.5rem 0 1.5rem;
        }
    }
}



// background image for hero container
.hero{
    &__image{
        width: 100%;
        display: flex;
        align-items: center;
        background-image: url("../Assets/Images/hero-image.jpg");
        background-size: cover;
        background-color: $base-color;
        opacity: 50%;
        background-position: center;
        @include mobile{
            height: 11.4375rem;
        }
        @include tablet{
            height: 25rem;
        }
        @include desktop{
            height: 41.875rem;
        }
    }
    // hero text positioning style
    &__header{
        color: $white;
        display: flex;
        text-align: start;
        font-weight: 700;
        @include mobile{
            font-size: 1.5rem;
            padding-left: 1rem;
            width: 60%;
        }
        @include tablet{
            font-size: 3.75rem;
            padding-left: 1.5rem;
            width: 70%;
        }
        @include desktop{
            font-size: 3.75rem;
            padding-left: 8.875rem;
            width: 50%;
        }   
    }
}

.musicians{
    // musicians image and title styling in about section
    display: flex;
    flex-direction: column;
    align-items: center;

    &__image{
        @include mobile{
            padding-bottom: 1.5rem;
            width: 18rem;
            height: 9.375rem;
        }
        @include tablet{
            padding-bottom: 3rem;
            width: 45rem;
            height: 25rem;
        }
        @include desktop{
            padding-bottom: 3rem;
            width: 50rem;
            height: 31.25rem;
        }
        &-title{
            display: flex;
            align-self: flex-start;
            @include mobile{
                font-size: 1.5rem;
                padding: 2rem 0 1.5rem 1.5rem;
            }
            @include tablet{
                font-size: 2.25rem;
                padding: 3rem 0 3rem 1.5rem;
            }
            @include desktop{
                font-size: 2.25rem;
                padding: 3rem 0 3rem 8.875rem;
            }
        }
    }
    //musician's quote and name
    &__quote{
        text-align: left;
        &-container{
            display: block;
        }
        @include mobile{
            font-size: 0.875rem;
            padding-bottom: 2rem;
            width: 18rem;
        }
        @include tablet{
            font-size: 1.5rem;
            // padding: 0 0 2.5rem 1.5rem;
            padding-bottom: 2.5rem;
            width: 45rem;
        }
        @include desktop{
            font-size: 1.5rem;
            padding-bottom: 2.5rem;
            // padding:0 0 2.5rem 11.25rem;
            width: 50rem;
        }

        &-writer{
            text-align: left;
            @include mobile{
                padding: 0 0 2.5rem 0;
                font-size: 0.8125rem;
            }
            @include tablet{
                padding:0 0 3.5rem 0;
                font-size: 1rem;
            }
            @include desktop{
                font-size: 1rem;
                padding:0 0 3.5rem 0;
            }
        }
    }
    //musician names and title of biography
    &__names{
        text-align: left;
        @include mobile{
            padding: 0 1rem 1.5rem 0;
        }
        @include tablet{
            padding: 0 1.5rem 2rem 0;
        }
        @include desktop{
            padding: 0 0 2rem 0;
        }
    }
    //musician biograohy paragraph styling 
    &__biography{
        text-align: left;
        @include mobile{
            display: block;
        }
        @include tablet{
            display: flex;
            justify-content: space-between;
        }
        @include desktop{
            display: flex;
            justify-content: space-between;
        }
        &-container{
            display: block;
            text-align: center;
            @include mobile{
                width: 18rem;
            }
            @include tablet{
                width: 45rem;
            }
            @include desktop{
                width: 50rem;
            }
        }

        
        
        &-para1{
            text-align: left;
            @include mobile{
                padding-bottom: 1.5rem;
                width: fit-content;
            }
            @include tablet{
                padding:0 0.75rem 3rem 0;
                width: fit-content;
            }
            @include desktop{
                padding:0 1.25rem 3rem 0;
                width: 26.25rem;
            }
        }
        &-para2{
            text-align: left;
            @include mobile{
                padding-bottom: 1.5rem;
                width: fit-content;
            }
            @include tablet{
                padding: 0 0 3rem 0.75rem;
                width: fit-content;
            }
            @include desktop{
                padding:0 0 3rem 1.25rem;
                width: 26.25rem;
            }
           
        }
    }
}
// photo gallery styling 
.gallery{
    background-color: $gallery-background;
    &__title{
        text-align: left;
        @include mobile{
            font-size: 1.5rem;
            padding: 2rem 0 1.5rem 1rem;
        }
        @include tablet{
            font-size: 2.25rem;
            padding: 3rem 0 3rem 1.5rem;
        }
        @include desktop{
            font-size: 2.25rem;
            padding: 3rem 0 3rem 8.875rem;
        }
    }
    // individual image container styling
    &__image{
        display: block;
        @include mobile{
            padding: 0.5rem;
            width: 90vw;
            height: 50vh;
        }
        @include tablet{
            height: 20vh;
            width: 27vw;
            padding: 0.75rem;
        }
        @include desktop{
            padding: 1em;
            width: 25vw;
            height: 25vh;
        }
        
        &-container{
            margin:0;
            @include mobile{
                padding: 0.5em;
                margin: 0.5em;
            }
            @include tablet{
                padding: 1em;
                margin: 1em;
                display: flex;
                flex-wrap: wrap;
            }
            @include desktop{
                margin:2em;
                padding: 2em;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }
        }
    }
}

//comment section to join conversation
#comment__button{
    width: 70vw;
    height: 5vh;
    background-color: $base-color;
    color: white;
    border-radius: 5%;
    border: 2px solid $base-color;
    box-shadow: none;
    @include desktop{
        width:  40vw;
    }
}
.comment{
    width: 80vw;
    padding: 0 1.5rem;
    @include desktop{
        width: 50vw;
    }
    &__form{
        width: inherit;
    }
    &__input{
        font-family: 'Avenir Next';
        display: block;
        border: 2px solid silver;
        border-radius: 2%;
        width: 70vw;
        @include desktop{
            width: 40vw;
        }
        &:focus{
            border: 2px solid black;
        }
        &-name{
            @extend .comment__input;
            border-radius: 4%;
        }
        &-text{
            @extend .comment__input;
            height: 30vh;
        }
    }
    

    &__section{
            display: flex;
            flex-direction: column;
            @include mobile{
                width: 80vw;
            }
            @include tablet{
                width: 80vw;
            }
            @include desktop{
                width: auto;
                padding: 0 20vw;
            }
        

        &-title{
            @extend .gallery__title;
        }
        &-newcomment{
            display: flex;
            justify-content: space-around;
            border-bottom: 1px solid silver;
            width: 50vw;
        }
    }
    &__container{
        margin: 1em;
        width: fit-content;
        display: flex;
        justify-content: space-between;
        
        @include desktop{
            width: 50vw;
        }
        border-bottom: 1px solid silver;
    }
    &__image{
        padding: 1em 0;
        &-icon{
            object-fit: inherit;
            height: 3em;
            width: 3.5em;
            border-radius: 50%;
            object-position: right;
        }
    }
    &__header{
        width: inherit;
        height: fit-content;
        display: flex;
        padding: 1.5em 0;
        justify-content: space-between;
        word-wrap: break-word;
        text-align: left;
        @include desktop{
            width: 40vw;
        }
        &-writer{
            height: fit-content;
        }
        &-timestamp{
            height: fit-content;
            margin: 0;
            padding: 0;
        }
    }
    &__text{
        text-align: left;
        width: 80vw;
        word-wrap: break-word;
        @include desktop{
            width: 40vw;
        }
    }
    &-writer{
        font-family: 'Avenir Next';
        color: silver;
        font-weight: bold;
        display: flex;
        justify-content: left;
        padding: .5em;
    }
    &-text{
        @extend .comment-writer;
    }
}
.com__container{
    width: 50vw;
}
.form__section{
    padding: 0.5em;
}
// footer section for contacts
.footer{
    background-color: $base-color;
    color: $white;
    // main footer container
    &__container{
        display: flex;
        justify-content: space-between;
        @include mobile{
            padding: 1rem;
        }
        @include tablet{
            padding: 1.5rem;
        }
        @include desktop{
            padding: 3rem 8.125rem 3.5rem 8.875rem;
        }        
    }
    // footer section for contacts
    &__contacts-section{
        @include mobile{
            display: block;
        }
        @include tablet{
            display: flex;
            justify-content: space-between;
        }
        @include desktop{
            display: flex;
            justify-content: space-between;
        }
    }
    &__title{
        color: $white;
        text-align: left;
        @include mobile{
            font-size: 1.5rem;
            padding: 1rem 0 1rem 0;
        }
        @include tablet{
            font-size: 2.25rem;
            padding: 0.75rem 2.5rem 0.75rem 0;
        }
        @include desktop{
            font-size: 2.25rem;
            padding: 1.5rem 5.25rem 1.875rem 0;
        }
    }
    //  styling
    &__contacts-socialmedia{
        display: flex;
        justify-content: space-between;

        // social media icons
        &-icon{
            padding-right: 1rem;
        }
    }
    
    // bandsite logo in footer 
    &__logo{
        @include mobile{
            display: none;
        }
        @include tablet{
            display: flex;
            padding: 1.25rem 0 0.75rem 0.75rem;
            height: 1.5rem;
            width: 7.5rem;
        }
        @include desktop{
            display: flex;
            height: 1.5rem;
            padding: 2rem 1rem 0 0;
            width: 7.5rem;
        }
    }
}
// individual agent contacts styling
.agents{
    @include mobile{
        margin: 1rem;
        padding: 0;
    }
    @include tablet{
        display: flex;
        padding: 0;
        margin: 1.5rem;
    }
    @include desktop{
        display: flex;
        margin: 0;
        padding-left: 8.875rem;
    }
    
    &__contact{
        padding-right: 1.125rem;
        text-align: left;
        color: $white;
        &-name{
            text-align: left;
            @include mobile{
                padding-top: 0.5rem;
                font-size: 0.8125rem;
            }
            @include tablet{
                padding-top: 0;
                font-size: 1rem;
            }
            @include desktop{
                padding-top: 0;
                font-size: 1rem;
            }
        }
    }
}
// copyright line at footer end
.copyright{
    text-align: left;
    color: $white;
    margin: 0;
    
    @include mobile{
        width: 70%;
        padding: 1rem 1rem 1.5rem 1rem;
    }
    @include tablet{
        padding: 1rem 1.5rem 2.5rem 1.5rem;
    }
    @include desktop{
        padding:1rem 0 2.5rem 8.875rem;
    }    
}