@font-face {
  font-family: 'Avenir Next';
  src: url("../fonts/Metropolis-Regular.otf");
}

@font-face {
  font-family: 'Avenir Next';
  src: url("../fonts/Metropolis-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: 'Avenir Next';
  src: url("../fonts/Metropolis-SemiBold.otf");
  font-weight: 500;
}

@font-face {
  font-family: 'Avenir Next';
  src: url("../fonts/Metropolis-Regular.otf");
}

@font-face {
  font-family: 'Avenir Next';
  src: url("../fonts/Metropolis-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: 'Avenir Next';
  src: url("../fonts/Metropolis-SemiBold.otf");
  font-weight: 500;
}

html, main, body, div {
  font-family: 'Avenir Next';
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-align: center;
  color: #323232;
}

ul, h3, h2, h1 {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 320px) {
  li {
    font-size: 13px;
    line-height: 18px;
  }
}

@media screen and (min-width: 768px) {
  li {
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (min-width: 1200px) {
  li {
    font-size: 14px;
    line-height: 20px;
  }
}

a {
  text-decoration: none;
}

.subheader {
  font-weight: 500;
}

@media screen and (min-width: 320px) {
  p {
    font-size: 13px;
  }
}

@media screen and (min-width: 768px) {
  p {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  p {
    font-size: 14px;
  }
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 320px) {
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
  }
}

@media screen and (min-width: 768px) {
  .header__logo {
    padding: 1.875rem 1.5rem 1.875rem 1.5rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    padding: 1.875rem 1.5rem 1.875rem 8.875rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.navigation {
  height: 5rem;
  width: 100%;
  background-color: #323232;
  color: #ffffff;
}

@media screen and (min-width: 320px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navigation__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 320px) {
  .navigation__bar {
    padding-top: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .navigation__bar {
    padding: 0%;
  }
}

@media screen and (min-width: 1200px) {
  .navigation__bar {
    padding: 0%;
  }
}

.navigation__link1 {
  font-weight: 500;
  color: #ffffff;
  border-bottom: 0.3125rem solid white;
}

@media screen and (min-width: 320px) {
  .navigation__link1 {
    width: 10.125rem;
    padding-bottom: 1.25rem;
  }
}

@media screen and (min-width: 768px) {
  .navigation__link1 {
    padding: 1.875rem 1.5rem 1.5rem 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .navigation__link1 {
    padding: 1.875rem 1.5rem 1.5rem 1.5rem;
  }
}

.navigation__link2 {
  font-weight: 500;
  color: #ffffff;
}

@media screen and (min-width: 320px) {
  .navigation__link2 {
    width: 10.125rem;
    padding-bottom: 1.25rem;
  }
}

@media screen and (min-width: 768px) {
  .navigation__link2 {
    padding: 1.875rem 1.5rem 0 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .navigation__link2 {
    padding: 1.875rem 1.5rem 0 1.5rem;
  }
}

.hero__image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../Assets/Images/hero-image.jpg");
  background-size: cover;
  background-color: #323232;
  opacity: 50%;
  background-position: center;
}

@media screen and (min-width: 320px) {
  .hero__image {
    height: 11.4375rem;
  }
}

@media screen and (min-width: 768px) {
  .hero__image {
    height: 25rem;
  }
}

@media screen and (min-width: 1200px) {
  .hero__image {
    height: 41.875rem;
  }
}

.hero__header {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
  font-weight: 700;
}

@media screen and (min-width: 320px) {
  .hero__header {
    font-size: 1.5rem;
    padding-left: 1rem;
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  .hero__header {
    font-size: 3.75rem;
    padding-left: 1.5rem;
    width: 70%;
  }
}

@media screen and (min-width: 1200px) {
  .hero__header {
    font-size: 3.75rem;
    padding-left: 8.875rem;
    width: 50%;
  }
}

.musicians {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 320px) {
  .musicians__image {
    padding-bottom: 1.5rem;
    width: 18rem;
    height: 9.375rem;
  }
}

@media screen and (min-width: 768px) {
  .musicians__image {
    padding-bottom: 3rem;
    width: 45rem;
    height: 25rem;
  }
}

@media screen and (min-width: 1200px) {
  .musicians__image {
    padding-bottom: 3rem;
    width: 50rem;
    height: 31.25rem;
  }
}

.musicians__image-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media screen and (min-width: 320px) {
  .musicians__image-title {
    font-size: 1.5rem;
    padding: 2rem 0 1.5rem 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .musicians__image-title {
    font-size: 2.25rem;
    padding: 3rem 0 3rem 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .musicians__image-title {
    font-size: 2.25rem;
    padding: 3rem 0 3rem 8.875rem;
  }
}

.musicians__quote {
  text-align: left;
}

.musicians__quote-container {
  display: block;
}

@media screen and (min-width: 320px) {
  .musicians__quote {
    font-size: 0.875rem;
    padding-bottom: 2rem;
    width: 18rem;
  }
}

@media screen and (min-width: 768px) {
  .musicians__quote {
    font-size: 1.5rem;
    padding-bottom: 2.5rem;
    width: 45rem;
  }
}

@media screen and (min-width: 1200px) {
  .musicians__quote {
    font-size: 1.5rem;
    padding-bottom: 2.5rem;
    width: 50rem;
  }
}

.musicians__quote-writer {
  text-align: left;
}

@media screen and (min-width: 320px) {
  .musicians__quote-writer {
    padding: 0 0 2.5rem 0;
    font-size: 0.8125rem;
  }
}

@media screen and (min-width: 768px) {
  .musicians__quote-writer {
    padding: 0 0 3.5rem 0;
    font-size: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .musicians__quote-writer {
    font-size: 1rem;
    padding: 0 0 3.5rem 0;
  }
}

.musicians__names {
  text-align: left;
}

@media screen and (min-width: 320px) {
  .musicians__names {
    padding: 0 1rem 1.5rem 0;
  }
}

@media screen and (min-width: 768px) {
  .musicians__names {
    padding: 0 1.5rem 2rem 0;
  }
}

@media screen and (min-width: 1200px) {
  .musicians__names {
    padding: 0 0 2rem 0;
  }
}

.musicians__biography {
  text-align: left;
}

@media screen and (min-width: 320px) {
  .musicians__biography {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .musicians__biography {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .musicians__biography {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.musicians__biography-container {
  display: block;
  text-align: center;
}

@media screen and (min-width: 320px) {
  .musicians__biography-container {
    width: 18rem;
  }
}

@media screen and (min-width: 768px) {
  .musicians__biography-container {
    width: 45rem;
  }
}

@media screen and (min-width: 1200px) {
  .musicians__biography-container {
    width: 50rem;
  }
}

.musicians__biography-para1 {
  text-align: left;
}

@media screen and (min-width: 320px) {
  .musicians__biography-para1 {
    padding-bottom: 1.5rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media screen and (min-width: 768px) {
  .musicians__biography-para1 {
    padding: 0 0.75rem 3rem 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media screen and (min-width: 1200px) {
  .musicians__biography-para1 {
    padding: 0 1.25rem 3rem 0;
    width: 26.25rem;
  }
}

.musicians__biography-para2 {
  text-align: left;
}

@media screen and (min-width: 320px) {
  .musicians__biography-para2 {
    padding-bottom: 1.5rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media screen and (min-width: 768px) {
  .musicians__biography-para2 {
    padding: 0 0 3rem 0.75rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media screen and (min-width: 1200px) {
  .musicians__biography-para2 {
    padding: 0 0 3rem 1.25rem;
    width: 26.25rem;
  }
}

.gallery {
  background-color: #e1e1e1;
}

.gallery__title {
  text-align: left;
}

@media screen and (min-width: 320px) {
  .gallery__title {
    font-size: 1.5rem;
    padding: 2rem 0 1.5rem 1rem;
  }
}

@media screen and (min-width: 768px) {
  .gallery__title {
    font-size: 2.25rem;
    padding: 3rem 0 3rem 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__title {
    font-size: 2.25rem;
    padding: 3rem 0 3rem 8.875rem;
  }
}

.gallery__image {
  display: block;
}

@media screen and (min-width: 320px) {
  .gallery__image {
    padding: 0.5rem;
    width: 18rem;
    height: 11.875rem;
  }
}

@media screen and (min-width: 768px) {
  .gallery__image {
    height: 7.875rem;
    width: 14.5rem;
    padding: 0.75rem;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__image {
    padding: 0.75rem;
    width: 18.125rem;
    height: 12.0625rem;
  }
}

.gallery__image-container {
  margin: 0;
}

@media screen and (min-width: 320px) {
  .gallery__image-container {
    padding-bottom: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .gallery__image-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 1.25rem;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__image-container {
    padding-bottom: 1.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer {
  background-color: #323232;
  color: #ffffff;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 320px) {
  .footer__container {
    padding: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    padding: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    padding: 3rem 8.125rem 3.5rem 8.875rem;
  }
}

@media screen and (min-width: 320px) {
  .footer__contacts-section {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .footer__contacts-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .footer__contacts-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__title {
  color: #ffffff;
  text-align: left;
}

@media screen and (min-width: 320px) {
  .footer__title {
    font-size: 1.5rem;
    padding: 1rem 0 1rem 0;
  }
}

@media screen and (min-width: 768px) {
  .footer__title {
    font-size: 2.25rem;
    padding: 0.75rem 2.5rem 0.75rem 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__title {
    font-size: 2.25rem;
    padding: 1.5rem 5.25rem 1.875rem 0;
  }
}

.footer__contacts-socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__contacts-socialmedia-icon {
  padding-right: 1rem;
}

@media screen and (min-width: 320px) {
  .footer__logo {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1.25rem 0 0.75rem 0.75rem;
    height: 1.5rem;
    width: 7.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1.5rem;
    padding: 2rem 1rem 0 0;
    width: 7.5rem;
  }
}

@media screen and (min-width: 320px) {
  .agents {
    margin: 1rem;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .agents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .agents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding-left: 8.875rem;
  }
}

.agents__contact {
  padding-right: 1.125rem;
  text-align: left;
  color: #ffffff;
}

.agents__contact-name {
  text-align: left;
}

@media screen and (min-width: 320px) {
  .agents__contact-name {
    padding-top: 0.5rem;
    font-size: 0.8125rem;
  }
}

@media screen and (min-width: 768px) {
  .agents__contact-name {
    padding-top: 0;
    font-size: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .agents__contact-name {
    padding-top: 0;
    font-size: 1rem;
  }
}

.copyright {
  text-align: left;
  color: #ffffff;
  margin: 0;
}

@media screen and (min-width: 320px) {
  .copyright {
    width: 70%;
    padding: 1rem 1rem 1.5rem 1rem;
  }
}

@media screen and (min-width: 768px) {
  .copyright {
    padding: 1rem 1.5rem 2.5rem 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .copyright {
    padding: 1rem 0 2.5rem 8.875rem;
  }
}
/*# sourceMappingURL=styles.css.map */