
@font-face {
    font-family: 'Avenir Next';
    src: url("../fonts/Metropolis-Regular.otf");
}

@font-face {
    font-family: 'Avenir Next';
    src: url("../fonts/Metropolis-Bold.otf");
    font-weight: 700;
}

@font-face {
    font-family: 'Avenir Next';
    src: url("../fonts/Metropolis-SemiBold.otf");
    font-weight: 500;
}

